:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00eeff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; 
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 15% 5rem;
}

.heading {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
}

span {
  color: var(--main-color);
}

@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
  
  html {
    font-size: 80%; 
  }

}

@media (max-width: 450px) {
  .header {
    padding: 1.5rem 2%;
  }
  
  .contato form .inputBox input {
    width: 100%;
  }
}


