.projetos {
    background: var(--second-bg-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2.5rem;
}

.box {
    background: #1f242d; 
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
    border: 1px solid transparent;
}

.box:hover {
    border-color: var(--main-color);
    box-shadow: 0 0 1.5rem var(--main-color); 
  background: transparent; 
    transform: translateY(-5px);
}

.imageBox {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: .3s ease;
}

.imageBox:hover .layer {
    opacity: 1; 
}

.content {
    padding: 2rem;
}

.tags {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.tagFrontEnd {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    font-weight: 600;
}

.tagFrontEnd { background: #febd3d; color: #000; }

.content h3 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

.content p {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.6;
}

.layer a {
    width: 5rem;
    height: 5rem;
    background: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.4rem;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
